.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gigs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 1em;
}

.ep{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 1em;
}

.ep-image{
  display: block;
  width: 500px;
  
  margin-left: auto;
  margin-right: auto;
}

.socials{
  margin-left: 2em;
  margin-right: 2em;
}
.socials:hover{
  margin-top: .5em;
  text-underline-offset: below;
}

.font-face{
  font-family: "Monteserrat-Bold";
  src: url('./fonts/Montserrat-Bold.woff');
  font-weight: bold;
  font-style: normal;
  /* text-underline-position: below; */
}

.font-face{
  font-family: 'YoungSerif-Regular';
  src: url('./fonts/YoungSerif-Regular.otf');
  font-style: normal;
  font-weight: bold;
/* text-underline-position: below; */
}

/* .navbar{
  background-color: black;
  padding-top: 3em;
} */

.nav{
  font-family: 'YoungSerif-Regular';
  font-size: x-large;
}

.mailing-list{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.social-div{
  margin-top: 5em;
  
  margin-left: 10%;
  margin-right: 10%;
}

.about-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-container{
  margin-top: 6.25em;
}
/* .home{
  background-image: url('./assets/organKeys.JPG');
  background-size: 100%;
} */



